:root{
    --colorPrincipal:#CCAE52;
    --colorSecundario:#EDBD1C;
    --colorTerciario:#F9DC84;
    --colorCuaternario:#ECC757;
    --colorMenuVertical:antiquewhite;
    --colorFuente: black;
    --fuente:"Poppins";
}