/*globales*/
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body { 
    margin: 0 auto;
    max-width: 1200px;
    font-family:'lato';
    color: darkgoldenrod;
}

.icon-cart{ 
    width: 40px ;

}
img{
    max-width: 100%;

}

/* header*/

header{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 40px 0; 

}

