*{
    margin: 0;
    padding: 0;
    font-family: poppins ;
}
/* scc del header */
h1{
    float: left;
    text-decoration: none;
    color: black;
    margin-top: 21px;
}
header{
    background-color: #CCAE52;
    width: auto;
    height: 80px;
    margin-bottom: 50px;
    padding: 10px;
}
#logo_principal{
    height: 70px;
    float: left;
}
/* css del menu vertical */
.menu{
    height: 70px;
    float: right;
    cursor: pointer;
    
}
.menu_vertical{
    display: none;
    float: right ;
    background-color: antiquewhite;
    
}
.menu_vertical ul{
    list-style-type: none;
    padding: 0;
    margin: 20px;
    width: 150px;
    height: auto;
    bottom: 40px;
}
.menu_vertical ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    height: 40px;
}
.menu:hover + .menu_vertical {
    display: inline;
}
.menu_vertical:hover{
    display: block;

}
.menu_vertical li:hover{
    background-color:rgb(226, 203, 173) ;
    cursor: pointer;
}



/* css del footer */
footer{
    background-color: #CCAE52;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}
footer h2{
    margin-left: 50px;
    margin-right: 50px;
    height: absolute;
}
a h2{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.img_footer{
    width: 30px;
}